
body {
  --text: #e6eff2;
  --background: #060c0e;
  --primary: #a6c9d7;
  --secondary: #305f73;
  --accent: #60a4c1;
  color: var(--text);
  background-color: var(--background);
  margin: 0px;
  font-size: 1.5rem;
}

.nav-tab {
  background-color: #0f1d22;
  display: flex;
  height: 3.5rem;
}

.nav-tab input {
  display: none;
}

.nav-tab input:checked + label {
  background-color: var(--background);
  border-radius: 15px 15px 0 0;
}

.nav-tab label {
  padding: 20px;
  display: flex;
  align-items: center;
}

.nav-tab label:hover {
  background-color: var(--secondary);
  border-radius: 15px 15px 0 0;
}

[class^="tab-"] {
  display: none;
}

body:has(:checked:nth-of-type(1)) .tab-home,
body:has(:checked:nth-of-type(2)) .tab-games,
body:has(:checked:nth-of-type(3)) .tab-projects{
  display: block;
}

.card-title {
  font-size: 4vw;
  width: 100%;
}

.card-info {
  /*color: #2E1C47;*/
  text-align: left;
}

h1 {
  text-align: left;
  font-size: 5rem;
  color: #a6c9d7
}

.tab-home {
  margin: 0vw 5vw;
}

table {
  color: black;
  background-color: #1a1a17;
  border-collapse: collapse;
  margin-right: auto;
}

th, td {
  /*border: 0.3vw solid #56A3A6;*/
  border: 0.3vw solid black;
  padding: 10px;
}

td {
  color: #e6eff2;
}

.tab-projects {
  text-align: center;
  padding-top: 5%;
}

.card-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30vw;
}

.cover-card {
  pointer-events: none;
}

.card-container:hover > .cover-card {
  transform: translateX(-130%) rotate(-20deg);
  opacity: 0;
}

.card-container:hover > .card-1 {
  transform: translateX(-130%) rotate(-20deg);
}

.card-container:hover > .card-2 {
  transform: translate(-40%, -20%) rotate(-10deg);
}

.card-container:hover > .card-3 {
  transform: translate(40%, -20%) rotate(10deg);
}

.card-container:hover > .card-4 {
  transform: translateX(130%) rotate(20deg);
}

.card:hover {
  scale: 1.1;
  border: 0.3vw solid white;
  border-radius: 0px;
}

.card {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 18vw;
  color: #e6eff2;
  background-color: #305f73;
  /*border: 0.3vw solid #2E1C47;*/
  border-radius: 15px;
  aspect-ratio: 5 / 7; 
  transition: border 0.5s ease, border-radius 0.5s ease, scale 0.5s ease, transform 0.5s ease, opacity 0.5s ease;
}


.button-wrapper {
  display: flex;
  justify-content: center;
  margin: 5vw;
  height: 5vw;
}



.games-button {
  text-align: center;
  text-decoration: none;
  width: 18vw;
  height: 3vw;
  color: #e6eff2;
  background-color: #60a4c1;
  /*border: 0.3vw solid #E3B505;*/
  border-radius: 10px;
  padding: 2vw;
  position: absolute;
  transition: scale 0.5s ease, border 0.5s ease, border-radius 0.5s ease;
}
  
.games-button:hover {
  scale: 1.1;
  /*border: 0.5vw solid #2E1C47;*/
  border-radius: 0;
}